<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" verbose="1" >
    <!-- Test Suite -->
    <test name="Sample Test">
        <!-- Define the classes to test -->
        <classes>
            <class name="testCases.TestNG">
                <methods>
                    <include name="Login"/>
                    <include name="AddNewEmployee"/>
                </methods>
            </class>

        </classes>
    </test>
        </suite>
